<div class="table-container">
    <h4>Liste d'absence d'Etudiant dont le matricule est : K123457874</h4>
    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Heure de debut</th>
                <th>Heure de fin</th>
                <th>Motif</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>K123457874</td>
                <td>12:00</td>
                <td>14:00</td>
                <td>Il est etait malade</td>
            </tr>
        </tbody>
    </table>
</div>