<div class="table-container">
    <h4>Liste d'Enseignants</h4>
    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>#</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Ajouter Absence</th>
                <th>Les Absence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>K123457874</td>
                <td>Halim Boaazza</td>
                <td>
                    <a routerLink="/ajouterabsensei">
                        <i class='bx bx-pencil' style="color: #695CFE; font-size: 30px; cursor: pointer;"></i>
                    </a>
                </td>
                <td>
                    <a routerLink="/absensesensei">
                        <i class='bx bx-show' style="color: #695CFE; font-size: 30px; cursor: pointer;"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>