<div class="table-container">
    <h4>Liste d'Enseignants</h4>
    <table style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Ajouter Absence</th>
                <th>Les Absence</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let enseignant of enseignants">
                <td>{{enseignant.mat}}</td>
                <td>{{enseignant.nom}}</td>
                <td>
                    <a (click)="ajouterAbs(enseignant.mat,enseignant.nom)">
                        <i class='bx bx-pencil' style="color: #695CFE; font-size: 30px; cursor: pointer;"></i>
                    </a>
                </td>
                <td>
                    <a (click)="listeAbsenceEnseignant(enseignant.mat,enseignant.nom)">
                        <i class='bx bx-show' style="color: #695CFE; font-size: 30px; cursor: pointer;"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>